{% extends "base.html" %}

{% block content %}
    <h1>Cart</h1>
    {% for item in cart %}
        <div class="row">
            <div class="col">
                 <div class="container">
                <div class="row row-cols-4">
                    <div class="col">{{item.item}}</div>
                    <div class="col">{{item.quantity}}</div>
                    <div class="col">{{item.unit_price}}</div>
                    <div class="col">{{item.subtotal}}</div>
                </div
            </div>
        </div>
    {% endfor%}
    </div>
{% endblock %}